* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}

.container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.parallex {
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: -1; */
    object-fit: cover;
}

.background {
    transform: translateZ(-40px) scale(5.5);
}

.foreground {
    transform: translateZ(-20px) scale(3);
}

.heading-adv {
    position: absolute;
    top: 5rem;
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 10px rgb(79, 76, 76);
}

